---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout>
  <h1>Jesteśmy z Wami już przeszło <span>20</span> lat</h1>
  <p>Serwisujemy, personalizujemy, lakierujemy i składamy rowery z carbonu, stali czy aluminium. Montujemy i konserwujemy systemy elektroniczne oraz hydrauliczne.</p>
  <p>Jako jeduna firma w kraju zajmujemy się kompleksową renowacją rowerów dlatego tak bardzo zwracamy uwagę na dokładność i dbałość o szczegóły...</p>
  <p><a href="#">więcej...</a></p>
</DefaultLayout>
