---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout bgImgName='bg-service.webp' title="Jakoobcycles - Serwis rowerowy">
  <div class="mt-20 max-w-[600px]">
  </div>
</DefaultLayout>