---
import LogoJakoobcycles from './LogoJakoobcycles.astro';

const siteNav = [
  { name: 'Jakoobcycles', href: '/' },
  { name: 'Serwis', href: '/serwis' },
  { name: 'Cennik', href: '/cennik' },
  { name: 'Kontakt', href: '/kontakt' },
];

const { pathname } = Astro.url;
const currentPath = pathname.replace(/^(\/[^\/]*)\/?$/, '$1');
---

<header class="px-10">
  <div class="flex items-center justify-between max-w-[1620px] pt-12 mx-auto">
    <a href="/"><LogoJakoobcycles /></a>
    <nav>
      <ul class="flex gap-10">
        {siteNav.map(i => (
          <li class={currentPath === i.href ? 'active' : ''}>
            <a href={i.href}>{i.name}</a>
          </li>
        ))}
      </ul>
    </nav>
  </div>
</header>

<style>
  .active {
    @apply before:(content-[''] absolute h-px bg-brand w-1/4 bottom-0) relative;
  }

  .active a {
    @apply text-white;
  }
  
  li a {
    @apply font-light text-xl text-zinc-400 transition-all duration-300;
  }

  li a:hover {
    @apply text-white;
  }

  li:last-child a {
    @apply bg-zinc-400 px-8 py-2 rounded font-normal text-black;
  }
</style>