---
import bgImg from '../assets/img/bg-home-01.webp';
import PageHeader from '../components/PageHeader.astro';
import PageFooter from '../components/PageFooter.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <PageHeader />
    <slot />
    <PageFooter />
  </body>
</html>

<style define:vars={{ bgImg: `url(${bgImg.src})` }}>
  body {
    @apply bg-(black center cover no-repeat) text-zinc-400 h-screen;
    background-image: var(--bgImg);
  }
</style>